[submodule "src/UtilsDotNet"]
	path = src/UtilsDotNet
	url = https://github.com/RoyLai-InfoCorp/UtilsDotNet
	branch = main
	update = rebase
[submodule "build/docker-compose/multichain-explorer-2"]
	path = build/docker-compose/multichain-explorer-2
	url = https://github.com/MultiChain/multichain-explorer-2.git
