[submodule "src/UtilsDotNet"]
	path = src/UtilsDotNet
	url = https://github.com/RoyLai-InfoCorp/UtilsDotNet
	branch = main
	update = rebase
[submodule "build/mcdotnet/multichain-base/multichain-explorer-2"]
	path = build/mcdotnet/multichain-base/multichain-explorer-2
	url = https://github.com/RoyLai-InfoCorp/multichain-explorer-2
	branch = master
