<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="error"
      internalLogFile="Internal.nlog"
      throwExceptions="false"
      internalLogToConsole="true"
      internalLogToConsoleError="false">
  <time type='AccurateUTC' />
  <targets>
	  
    <target name="DetailsFile" xsi:type="File"  fileName="${basedir}/../../../Logs/log.log"
      layout="${date} ${logger} ${uppercase:${level}} ${message} ${logger} ${callsite:filename=true} ${exception:tostring} ${stacktrace}"
     />
    <target name="SummaryFile" xsi:type="File"  fileName="${basedir}/../../../Logs/log.log"
      layout="${date} ${logger} ${uppercase:${level}} ${message}"
    />
  </targets>

  <rules>
    <logger name="*" rulename="ImportantDetails" minlevel="Warning" writeTo="DetailsFile" />
    <logger name="*" rulename="GeneralInfo" minlevel="Info" maxlevel="Info" writeTo="SummaryFile" />
	<logger name="*" rulename="ChattyInfo" minlevel="Trace" maxlevel="Debug" writeTo="SummaryFile">
		<filters>
			<when condition="level=Loglevel.Trace and contains( '${message}', 'getaddressbalances' )" action="Ignore" />
		</filters>
	</logger>
  </rules>

</nlog>